body
{
	background-color:#fff6f1;
	font-family:"Helvetica"Arial;
}
#contenido
{
	width:1000px;
	margin:0 auto;
	text-align:center;
}
h1
{
	color:#e44e2d;
}
nav ul li
{
	display:inline-block;
	margin-right:20px;
	color:#1d1d1d;
	cursor:pointer;
	padding:5px;
	
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
}

nav ul li:hover
{
	background-color:#1d1d1d;
	color:#e44e2d;
	border-radius:5px;
	
	nav ul li a
	{
		text-decoration:none;
	}
}
#textopr
{
	width:600px;
	height:500px;
	background-color:#1d1d1d;
	color:#fff;
	margin:0 auto;
	border-radius:20px;
	padding:20px;	
}
a
{
	color:#e44e2d;
	
}

label
{
	display: block;
}
#btnsubmit
{
	border:none;
	background-color:#fff;
	color:#e44e2d
	padding:4px;
	margin:20px;
	cursor:pointer;
}
#imagen
{
width:200px	
	
}

